## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Qaanaaq,GL,77.4840,-69.3632,5.59,72,8,8.41,NaN
1,1,Nizhnevartovsk,RU,60.9344,76.5531,-0.38,85,40,4.47,NaN
2,2,Vao,NC,-22.6667,167.4833,69.39,60,78,19.77,NaN
3,3,Moussoro,TD,13.6408,16.4901,84.85,19,94,12.28,NaN
4,4,Port Alfred,ZA,-33.5906,26.8910,62.35,70,55,25.03,NaN

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Vao,NC,-22.6667,167.4833,69.39,60,78,19.77,NaN
5,5,Ponta Do Sol,PT,32.6667,-17.1000,68.72,73,83,2.51,NaN
8,8,Rikitea,PF,-23.1203,-134.9692,72.50,76,74,13.87,NaN
11,11,Hilo,US,19.7297,-155.0900,74.12,85,10,2.71,NaN
15,15,Poum,NC,-20.2333,164.0167,74.12,65,69,18.14,NaN
17,17,Mulege,MX,26.8833,-111.9833,70.92,69,25,2.89,NaN
23,23,Ahvaz,IR,31.3203,48.6693,73.35,49,0,2.30,NaN
24,24,Venice,US,27.0998,-82.4543,66.99,86,1,5.99,NaN
34,34,Nakanojo,JP,36.5833,138.8500,67.57,55,91,3.00,NaN
35,35,Coolum Beach,AU,-26.5333,153.1000,74.10,68,66,3.00,NaN

In [5]:
# 4a. Determine if there are any empty rows.
pd.isnull(preferred_cities_df).sum()

Unnamed: 0               0
City                     0
Country                  0
Lat                      0
Lng                      0
Max Temp                 0
Humidity                 0
Cloudiness               0
Wind Speed               0
Current Description    123
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
712,712,Vao,NC,-22.6667,167.4833,69.24,58,71,18.66,broken clouds
715,715,Ponta Do Sol,PT,32.6667,-17.1000,69.71,72,85,2.86,overcast clouds
718,718,Rikitea,PF,-23.1203,-134.9692,72.37,77,76,13.91,broken clouds
721,721,Hilo,US,19.7297,-155.0900,74.93,79,40,0.00,scattered clouds
725,725,Poum,NC,-20.2333,164.0167,74.17,65,74,17.58,broken clouds
...,...,...,...,...,...,...,...,...,...,...
1383,1383,Yambio,SS,4.5721,28.3955,71.91,87,100,5.39,overcast clouds
1388,1388,Marzuq,YE,14.4000,46.4667,72.63,23,86,5.77,overcast clouds
1400,1400,Salani,IN,29.9570,79.7127,66.99,45,0,4.03,clear sky
1406,1406,Kutum,SD,14.2000,24.6667,74.50,28,94,19.51,overcast clouds
1412,1412,Bambari,CF,5.7680,20.6757,70.99,93,99,3.06,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
712,Vao,NC,69.24,broken clouds,-22.6667,167.4833,
715,Ponta Do Sol,PT,69.71,overcast clouds,32.6667,-17.1000,
718,Rikitea,PF,72.37,broken clouds,-23.1203,-134.9692,
721,Hilo,US,74.93,scattered clouds,19.7297,-155.0900,
725,Poum,NC,74.17,broken clouds,-20.2333,164.0167,
727,Mulege,MX,70.63,few clouds,26.8833,-111.9833,
734,Venice,US,66.97,clear sky,27.0998,-82.4543,
744,Nakanojo,JP,69.57,overcast clouds,36.5833,138.8500,
745,Coolum Beach,AU,74.10,broken clouds,-26.5333,153.1000,
751,Ribeira Grande,PT,70.52,overcast clouds,38.5167,-28.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey,
    "location": ""
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
clean_df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
712,712,Vao,NC,-22.6667,167.4833,69.24,58,71,18.66,broken clouds,Hotel Kou-Bugny
715,715,Ponta Do Sol,PT,32.6667,-17.1000,69.71,72,85,2.86,overcast clouds,Hotel do Campo
718,718,Rikitea,PF,-23.1203,-134.9692,72.37,77,76,13.91,broken clouds,People ThankYou
721,721,Hilo,US,19.7297,-155.0900,74.93,79,40,0.00,scattered clouds,Hilo Hawaiian Hotel
725,725,Poum,NC,-20.2333,164.0167,74.17,65,74,17.58,broken clouds,Gîte kajeon
...,...,...,...,...,...,...,...,...,...,...,...
1383,1383,Yambio,SS,4.5721,28.3955,71.91,87,100,5.39,overcast clouds,Naivasha Hotel
1388,1388,Marzuq,YE,14.4000,46.4667,72.63,23,86,5.77,overcast clouds,NaN
1400,1400,Salani,IN,29.9570,79.7127,66.99,45,0,4.03,clear sky,Forest Guest House
1406,1406,Kutum,SD,14.2000,24.6667,74.50,28,94,19.51,overcast clouds,Dibbo areaمنطقة دبو
1412,1412,Bambari,CF,5.7680,20.6757,70.99,93,99,3.06,overcast clouds,Hotel-Restaurant BIBICH

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file = 'VA=acation_Search/WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))